# aider-chat
aider-install
autopep8
black
charset-normalizer<3,>=2
flake8
google-generativeai
ipykernel
japanize-matplotlib
jupyterlab
jupytext
matplotlib
numpy
pandas
py
pynvim
python-dotenv
python-lsp-server[all]
quarto-cli
scikit-learn
shandy-sqlfmt[jinjafmt]
sqlfluff
