version: 2
root-markers:
  - .git/
lint-debounce: 1s

tools:
  dockerfile-hadolint: &dockerfile-hadolint
    lint-command: 'hadolint --no-color ${INPUT}'
    lint-source: 'hadolint'
    lint-stdin: false
    lint-ignore-exit-code: true
    lint-formats:
      - '%f:%l %m'

  json-jq: &json-jq
    format-command: 'jq --indent 2'
    format-stdin: true

  markdown-rumdl: &markdown-rumdl
    lint-command: 'rumdl check --stdin ${INPUT}'
    lint-source: 'rumdl'
    lint-stdin: true
    lint-formats:
      - '%f:%l:%c: %m'
    format-command: 'rumdl fmt --stdin'
    format-stdin: true

  python-ruff-check: &python-ruff-check
    lint-command: 'ruff check --stdin-filename ${INPUT} -'
    lint-source: 'ruff'
    lint-stdin: true
    lint-formats:
      - '%f:%l:%c: %m'

  python-ruff-format: &python-ruff-format
    format-command: 'ruff format --stdin-filename ${INPUT} -'
    format-stdin: true

  sh-shellcheck: &sh-shellcheck
    lint-command: 'shellcheck -f gcc -x'
    lint-source: 'shellcheck'
    lint-stdin: true
    lint-ignore-exit-code: true
    lint-formats:
      - '%f:%l:%c: %trror: %m'
      - '%f:%l:%c: %tarning: %m'
      - '%f:%l:%c: %tote: %m'

  sh-shfmt: &sh-shfmt
    format-command: 'shfmt -ci -i 2 -s -bn'
    format-stdin: true

  sql-sqlfmt: &sql-sqlfmt
    format-command: 'sh -c "if [ -f \"${ROOT}/.sqlfluff\" ]; then cat; elif [ -f \"${ROOT}/uv.lock\" ]; then cd \"${ROOT}\" && uv run sqlfmt -; else sqlfmt -; fi"'
    format-stdin: true
    root-markers:
      - pyproject.toml

  terraform-fmt: &terraform-fmt
    format-command: 'terraform fmt -list=false -write=false ${INPUT}'
    format-stdin: true

  yaml-actionlint: &yaml-actionlint
    lint-command: 'sh -c "if echo \"${INPUT}\" | grep -q \".github/workflows/\"; then actionlint -oneline -no-color -stdin-filename \"${INPUT}\" -; fi"'
    lint-source: 'actionlint'
    lint-stdin: true
    lint-formats:
      - '%f:%l:%c: %m'

  lua-stylua: &lua-stylua
    format-command: 'stylua --indent-type Spaces --indent-width 2 -'
    format-stdin: true

languages:
  dockerfile:
    - <<: *dockerfile-hadolint

  json:
    - <<: *json-jq

  lua:
    - <<: *lua-stylua

  markdown:
    - <<: *markdown-rumdl

  python:
    - <<: *python-ruff-check
    - <<: *python-ruff-format

  sh:
    - <<: *sh-shellcheck
    - <<: *sh-shfmt

  sql:
    - <<: *sql-sqlfmt

  terraform:
    - <<: *terraform-fmt

  yaml:
    - <<: *yaml-actionlint
