[[plugins]]
repo = 'github/copilot.vim'
on_event = ['VimEnter']

[[plugins]]
repo = 'i9wa4/vim-tmux-send-to-ai-cli'
on_event = ['VimEnter']
hook_source = '''
nmap <Space>ab <Plug>(tmux-send-to-ai-cli-buffer)
nmap <Space>al <Plug>(tmux-send-to-ai-cli-current-line)
nmap <Space>ap <Plug>(tmux-send-to-ai-cli-paragraph)
vmap <Space>av <Plug>(tmux-send-to-ai-cli-visual)

nmap <Space>aB <Plug>(tmux-send-to-ai-cli-buffer-all)
nmap <Space>aL <Plug>(tmux-send-to-ai-cli-current-line-all)
nmap <Space>aP <Plug>(tmux-send-to-ai-cli-paragraph-all)
vmap <Space>aV <Plug>(tmux-send-to-ai-cli-visual-all)

let g:tmux_ai_cli_additional_processes = ['cursor-agent']
'''

[[plugins]]
repo = 'tyru/caw.vim'
on_event = ['VimEnter']
hook_add = '''
let g:caw_no_default_keymappings = 1
'''
hook_source = '''
nmap gcc <Plug>(caw:hatpos:toggle)
vmap gcc <Plug>(caw:hatpos:toggle)
'''

[[plugins]]
repo = 'thinca/vim-qfreplace'
on_event = ['VimEnter']

[[plugins]]
repo = 'monaqa/dps-dial.vim'
depends = ['denops.vim']
on_map = { n = '<C-a>', x = '<C-a>' }
hook_source = '''
nmap <C-a>  <Plug>(dps-dial-increment)
nmap <C-x>  <Plug>(dps-dial-decrement)
xmap <C-a>  <Plug>(dps-dial-increment)
xmap <C-x>  <Plug>(dps-dial-decrement)
xmap g<C-a> g<Plug>(dps-dial-increment)
xmap g<C-x> g<Plug>(dps-dial-decrement)
'''

[[plugins]]
repo = 'yuki-yano/auto-backup.vim'
depends = ['denops.vim']
on_event = ['VimEnter']
hook_source = '''
let g:auto_backup_root_dir = expand('~/.cache/auto-backup.vim')
'''

# --------------------------------------
# Markdown
#
[[plugins]]
repo = 'junegunn/vim-easy-align'
on_ft = ['markdown', 'quarto', 'rmd']
hook_source = '''
augroup MyEasyAlign
  autocmd!
  autocmd FileType markdown,quarto,rmd vmap <Space><Space> :EasyAlign*<Bar><Enter>
augroup END
'''

[[plugins]]
repo = 'i9wa4/vim-markdown-number-header'
depends = ['denops.vim']
on_ft = ['markdown', 'quarto', 'rmd']
hook_add = '''
let g:mnh_header_level_shift = 1
'''
hook_source = '''
augroup mnh
  autocmd!
  autocmd BufWritePre *.md,*.qmd execute 'NumberHeader'
augroup END
'''
