[[plugins]]
repo = 'github/copilot.vim'
on_event = ['VimEnter']

[[plugins]]
repo = 'i9wa4/vim-tmux-send-to-ai-cli'
on_event = ['VimEnter']
hook_source = '''
nmap <Space>ab <Plug>(tmux-send-to-ai-cli-buffer)
nmap <Space>al <Plug>(tmux-send-to-ai-cli-current-line)
nmap <Space>ap <Plug>(tmux-send-to-ai-cli-paragraph)
vmap <Space>av <Plug>(tmux-send-to-ai-cli-visual)

nmap <Space>aB <Plug>(tmux-send-to-ai-cli-buffer-all)
nmap <Space>aL <Plug>(tmux-send-to-ai-cli-current-line-all)
nmap <Space>aP <Plug>(tmux-send-to-ai-cli-paragraph-all)
vmap <Space>aV <Plug>(tmux-send-to-ai-cli-visual-all)

let g:tmux_ai_cli_additional_processes = ['cursor-agent']
'''

[[plugins]]
repo = 'editorconfig/editorconfig-vim'
on_event = ['VimEnter']

[[plugins]]
repo = 'tyru/caw.vim'
on_event = ['VimEnter']
hook_add = '''
let g:caw_no_default_keymappings = 1
'''
hook_source = '''
nmap gcc <Plug>(caw:hatpos:toggle)
vmap gcc <Plug>(caw:hatpos:toggle)
'''

[[plugins]]
repo = 'thinca/vim-qfreplace'
on_event = ['VimEnter']

[[plugins]]
repo = 'monaqa/dps-dial.vim'
depends = ['denops.vim']
on_map = { n = '<C-a>', x = '<C-a>' }
hook_source = '''
nmap <C-a>  <Plug>(dps-dial-increment)
nmap <C-x>  <Plug>(dps-dial-decrement)
xmap <C-a>  <Plug>(dps-dial-increment)
xmap <C-x>  <Plug>(dps-dial-decrement)
xmap g<C-a> g<Plug>(dps-dial-increment)
xmap g<C-x> g<Plug>(dps-dial-decrement)
'''

[[plugins]]
repo = 'kamecha/bimove'
on_event = ['VimEnter']
hook_source = '''
nnoremap M <Plug>(bimove-enter)<Plug>(bimove)

nnoremap <Plug>(bimove)H <Plug>(bimove-high)<Plug>(bimove)
nnoremap <Plug>(bimove)L <Plug>(bimove-low)<Plug>(bimove)

highlight link BimoveHigh Search
highlight link BimoveCursor Visual
highlight link BimoveLow Visual
'''

[[plugins]]
repo = 'lambdalisue/vim-gin'
depends = ['denops.vim']
on_event = ['VimEnter']
hook_add = '''
let g:gin_proxy_apply_without_confirm = v:true
'''
hook_source = '''
function! s:my_gin_log() abort
  let g:gin_log_default_args = [
  \   "--graph",
  \   "--format='%C(auto)%h%C(auto)%d %C(auto)%s%n%C(brightblack)[%ai] %C(green)<%an> %C(brightblack)<%ae>'",
  \   "--name-status"
  \ ]
  execute 'GinLog'
  let g:gin_log_default_args = []
endfunction

function! s:my_gin_log_all() abort
  let g:gin_log_default_args = [
  \   "--graph",
  \   "--all",
  \   "--format='%C(auto)%h%C(auto)%d %C(auto)%s%n%C(brightblack)[%ai] %C(green)<%an> %C(brightblack)<%ae>'",
  \   "--name-status"
  \ ]
  execute 'GinLog'
  let g:gin_log_default_args = []
endfunction

nnoremap <Plug>(my-Gin) <Nop>
nmap <Space>g <Plug>(my-Gin)
nnoremap <Plug>(my-Gin)aa <Cmd>execute 'Gin add -A'<CR>
nnoremap <Plug>(my-Gin)au <Cmd>execute 'Gin add -u'<CR>
nnoremap <Plug>(my-Gin)c  <Cmd>execute 'Gin commit'<CR>
nnoremap <Plug>(my-Gin)d  <Cmd>execute 'GinDiff'<CR>
nnoremap <Plug>(my-Gin)la <Cmd>call <SID>my_gin_log_all()<CR>
nnoremap <Plug>(my-Gin)lo <Cmd>call <SID>my_gin_log()<CR>
nnoremap <Plug>(my-Gin)p  <Cmd>execute 'Gin push'<CR>
nnoremap <Plug>(my-Gin)s  <Cmd>execute 'GinStatus'<CR>
'''

[[plugins]]
repo = 'aiya000/bakaup.vim'
on_event = ['VimEnter']
hook_source = '''
let g:bakaup_auto_backup = 1
let g:bakaup_backup_dir = '/tmp/bakaup'
'''

# --------------------------------------
# Markdown
#
[[plugins]]
repo = 'junegunn/vim-easy-align'
on_ft = ['markdown', 'quarto', 'rmd']
hook_source = '''
augroup MyEasyAlign
  autocmd!
  autocmd FileType markdown,quarto,rmd vmap <Space><Space> :EasyAlign*<Bar><Enter>
augroup END
'''

[[plugins]]
repo = 'i9wa4/vim-markdown-number-header'
depends = ['denops.vim']
on_ft = ['markdown', 'quarto', 'rmd']
hook_add = '''
let g:mnh_header_level_shift = 1
'''
hook_source = '''
augroup mnh
  autocmd!
  autocmd BufWritePre *.md,*.rmd,*.qmd execute 'NumberHeader'
augroup END
'''

[[plugins]]
repo = 'previm/previm'
on_ft = ['markdown', 'quarto', 'rmd']
hook_add = '''
let g:previm_open_cmd = 'open -a Google\ Chrome'
'''

# --------------------------------------
# Terraform
#
[[plugins]]
repo = 'hashivim/vim-terraform'
on_ft = ['terraform', 'terraform-vars', 'tf']
