snippets:
  - name: ll
    keyword: ll
    snippet:
      ls -aFlv
  - name: ls for macOS
    keyword: llm
    snippet:
      ls -aFlv --color=always -D "%Y-%m-%d %H:%M:%S" -h
  - name: ls for Ubuntu
    keyword: llu
    snippet:
      ls -aFlv --color=always --time-style=long-iso -h
  - name: (ghq) update
    keyword: gu
    snippet: ghq list | ghq get --update --parallel
  - name: (Git) graph
    keyword: lo
    snippet: log --graph --format='%C(auto)%h%C(auto)%d %C(auto)%s%n        %C(brightblack)[%ai] %C(green)<%an> %C(brightblack)<%ae>'
    context:
      lbuffer: '^git\s'
  - name: (Git) graph --all
    keyword: la
    snippet: log --graph --format='%C(auto)%h%C(auto)%d %C(auto)%s%n        %C(brightblack)[%ai] %C(green)<%an> %C(brightblack)<%ae>' --all
    context:
      lbuffer: '^git\s'
  - name: (Prompt) toggle
    keyword: pt
    snippet:
      if [ -n "${_PROMPT_SAVE}" ]; then
        PROMPT="${_PROMPT_SAVE}";
        unset _PROMPT_SAVE;
      else
        export _PROMPT_SAVE="${PROMPT}";
        PROMPT="$ ";
      fi
  - name: (Python venv) activate myenv
    keyword: pvma
    snippet: . "${PY_VENV_MYENV}"/bin/activate
  - name: (Python venv) activate dbtenv
    keyword: pvda
    snippet: . "${PY_VENV_DBTENV}"/bin/activate
  # - name: (Python) jupyter-lab
  #   keyword: pjl
  #   snippet:
  #     jupyter-lab
  #       --FileCheckpoints.checkpoint_dir="${HOME}"/.cache/.ipynb_checkpoints
  #       --config="$${HOME}"/src/github.com/i9wa4/dotfiles/dot.config/jupyter/jupyter_lab_config.py
  - name: (Quarto) preview
    keyword: qp
    snippet: quarto preview
  - name: (Quarto) render
    keyword: qr
    snippet: quarto render
  #   # NOTE: Without _quarto.yml, the following command is useful.
  #   snippet:
  #     find . -maxdepth 1 -name "*.qmd" -type f -print | while read -r filepath;
  #     do
  #       quarto render "${filepath}";
  #     done
  - name: update
    keyword: up
    snippet:
      cd ~/src/github.com/i9wa4/dotfiles
      && make package-update
      && zinit self-update
      && zinit update --parallel
      && make unlink
      && ghq list | ghq get --update --parallel
      && make link
      && make ghq-get-essential
      && make ghq-get-local
      && make ghq-backup-local
      && make pyenv-list
      && make tfenv-list
      && cd -
  - name: update all
    keyword: upa
    snippet:
      cd ~/src/github.com/i9wa4/dotfiles
      && make package-update
      && zinit self-update
      && zinit update --parallel
      && make unlink
      && ghq list | ghq get --update --parallel
      && make link
      && make ghq-get-essential
      && make ghq-get-local
      && make ghq-backup-local
      && make vim-build
      && make nvim-build
      && make pyenv-vmu
      && make pyenv-list
      && make tfenv-list
      && cd -
  - name: vim startuptime
    keyword: vs
    snippet: vim-startuptime -count 10 -vimpath vim
